body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
  color: #f0f0f0;
  overflow: hidden;
  /* Prevent scroll */
}

* {
  box-sizing: border-box;
}